# ─── .NET ───────────────────────────────────────────────
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
.vs/

#config 
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json

# ─── Frontend ───────────────────────────────────────────
**/node_modules/
**/dist/
**/.env
**/.env.local
**/.env.*.local

# ─── Genel ──────────────────────────────────────────────
.DS_Store
Thumbs.db
*.log